body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 209) 62.3%,
    rgb(215, 248, 195) 93.8%
  );
  background-repeat: no-repeat;
  font-family: monospace;
}
h1 {
  text-align: center;
  color: black;
  padding: 5px;
}
h3 {
  text-align: center;
  color: black;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  margin: 0 auto;
  opacity: 0.9;
}
form {
  text-align: center;
}
small {
  padding: 10px 10px 0px 15px;
}
.class-body {
  background-image: url("../images/background.png");
  background-size: cover;
  border-radius: 5px;
}
.main {
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 9px 210px 2px #000;
  border-radius: 100px;
}
.row {
  --bs-gutter-x: 1;
}
.day {
  text-align: center;
  padding: 30px;
}
.time {
  position: relative;
  top: 10px;
  right: -100px;
}
.humidity {
  position: relative;
  top: 10px;
  right: -100px;
}
.wind {
  position: relative;
  top: 10px;
  right: -100px;
}
.container {
  display: block;
  margin: 0auto;
  padding: 5px 10px -10px 2px;
}
#description {
  text-transform: capitalize;
}
#celsius,
#fahrenheit {
  position: relative;
  font-size: 16px;
  top: -10px;
}
